
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .col-sm-2 {
        width: 50%;
        float: left;
    }
    #footer .fl-region {
        margin-bottom: 0;
    }
}

@media (min-width: 980px) {
    .container {
        width: 970px;
    }
    .pi-row {
        display: flex;
        align-items: center;
    }
    .pi-information {
        width: 40%;
    }
    .pi-list {
        width: 60%;
        padding-left: 40px;
    }
    .ri-region {
        display: flex;
        align-items: center;
    }
    .ri-region:nth-child(2n+1)  {
        direction: rtl;
    }
    .ri-region:nth-child(2n+1) .region-right {
        direction: ltr;
    }
    .ri-region:nth-child(2n+1) .region-left {
        padding-left: 20px;
        padding-right: 0;
    }

    .ri-region:nth-child(2n+1) .region-right {
        padding-right: 20px;
        padding-left: 0;
    }
    
    .region-left {
        width: 50%;
        padding-right: 20px;
    }

    .region-right {
        width: 50%;
        padding-left: 20px;
    }

    .r-content {
        display: flex;
        align-items: center;
    }

    .r-text {
        width: 50%;
        padding-right: 15px;
    }

    .r-form {
        width: 50%;
        padding-left: 15px;
    }

    .col-md-3 {
        width: 12.5%;
    }

    .col-md-12 {
        width: 50%;
        float: left;
    }
    .header-container {
        width: 970px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1100px) {
    .container {
        width: 1070px;
    }
}

@media (min-width: 1170px) {
    .header-container {
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    .pi-list {
        width: 280px;
        padding: 10px 0 20px;
    }
    .pi-list ul li {
        width: 100%;
        padding: 10px 15px;
    }
    .bei-icon-item img {
        width: 80px;
    }

    .ri-title, .bei-title, .c-title, .p-title, .ci-title, .ni-title {
        font-size: 24px;
    }

    .bei-content, .ri-content {
        width: 100%;
    }

    .region-img img {
        width: 100%;
    }
    .ri-name {
        font-size: 20px;
    }

    .cg-item {
        max-width: 100%;
    }

    .r-text {
        padding-bottom: 30px;
    }

    #footer .container div {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #footer .website-member {
        width: 100%;
    }
}

@media (max-width: 979px) {
    .r-text {
        text-align: center;
        padding-bottom: 40px;
    }
    .ri-row {
        text-align: center;
    }
    .region-left {
        padding-bottom: 20px;
    }
    .pi-row {
        background-color: #f7f7f7;
        margin-bottom: 30px;
    }
    .pi-row:nth-child(1) .pi-information {
        background: url(../../img/bg_product-group-1.svg) left top no-repeat;
        background-size: cover;
    }
    .pi-row:nth-child(2) .pi-information {
        background: url(../../img/bg_product-group-4.svg) left top no-repeat;
        background-size: cover;
    }
    .pi-row:nth-child(3) .pi-information {
        background: url(../../img/bg_product-group-2.svg) left top no-repeat;
        background-size: cover;
    }
    .pi-row:nth-child(4) .pi-information {
        background: url(../../img/bg_product-group-3.svg) left top no-repeat;
        background-size: cover;
    }
    .pi-information {
        text-align: center;
        height: auto;
        border-radius: 10px 10px 0 0;
    }
    .pi-button {
        justify-content: center;
    }
    .pi-list {
        width: 590px;
        margin: 0 auto;
        padding: 15px 0;
    }
    .benefit-item, .reason-item, .customer, .prize, .comment-item {
        padding-top: 40px;
    }

    .news-item {
        padding-top: 85px;
    }

    .bei-content, .ri-content {
        width: 80%;
        margin: 0 auto;
    }
    .bei-content ul li {
        width: 100%;
        margin-bottom: 30px;
    }
    .bei-top-item {
        display: flex;
        justify-content: center;
    }
    .bei-text-item {
        width: calc(100% - 95px);
    }
    .bei-text-bottom {
        letter-spacing: 0;
    }

    .region-img img {
        width: 80%;
    }
    .ri-name {
        text-align: center;
    }
    .horizontal-line {
        margin: 0 auto;
    }

    #footer .dropdown-menu li {
        width: 100%;
    }

    #footer .website-member {
        margin: 0;
        justify-content: flex-start;
        padding: 0;
        padding-bottom: 6px;
    }

    #footer .footer-col-2 {
        padding: 0 15px;
    }

    .footer-legal {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-legal .copyright {
        margin-right: unset;
    }
}

@media (max-width: 1099px){
    .bei-text-bottom {
        letter-spacing: -.2px;
    }    
}

@media (max-width: 1470px) {
    #footer .dropdown-menu li {
        width: 420px;
    }
    .dropdown-menu li a {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

.col-sm-2, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

