.fa-angle-down {
    position: absolute;
    top: 37%;
    margin-left: 7px;
}

.product-icon {
    background: url(../../../assets/img/img-logo.svg) no-repeat;
    width: 32px;
    height: 32px;
    margin-top: 4px;
}

.a-mis-ke-toan {
    background-position: 0 0;
}

.sme {
    background-position: 0 -32px;
}

.meinvoice {
    background-position: 0 -64px;
}

.esign {
    background-position: 0 -96px;
}

.mtax {
    background-position: 0 -128px;
}

.bankhub {
    background-position: 0 -160px;
}

.asp {
    background-position: 0 -192px;
}

.lending {
    background-position: -96px -64px;
}

.amis-aimarketing {
    background-position: 0 -224px;
}

.amis-ban-hang {
    background-position: -32px 0;
}

.amis-khuyen-mai {
    background-position: -96px 0;
}

.eshop {
    background-position: -32px -64px;
}

.cukcuk {
    background-position: -32px -96px;
}

.amis-tuyen-dung {
    background-position: -32px -160px;
}

.amis-thong-tin-nhan-su {
    background-position: -32px -192px;
}

.amis-cham-cong {
    background-position: -32px -224px;
}

.amis-tien-luong {
    background-position: -64px 0;
}

.amis-bao-hiem-xa-hoi {
    background-position: -64px -64px;
}

.amis-thue-tncn {
    background: url(../../img/amis_personal_tax.svg) no-repeat;
}

.amis-cong-viec {
    background-position: -64px -96px;
}

.amis-quy-trinh {
    background: url(../../img/amis-quy-trinh.png) no-repeat;
    background-size: contain;
}

.amis-wesign {
    background-position: -96px -32px;
}

.amis-ghi-chep {
    background-position: -64px -128px;
}

.amis-tai-san {
    background-position: -64px -192px;
}

.amis-mang-xa-hoi {
    background-position: -64px -160px;
}

.amis-phong-hop {
    background-position: -64px -224px;
}