.r-text {
    color: #fff;
}

.rt-title {
    font-family: MISA Font Bold;
    font-size: 28px;
    line-height: 1.42857143;
    padding-bottom: 15px;
}

.rt-subtitle {
    font-size: 18px;
}

.rts-item:last-child {
    padding-bottom: 0;
}

.rts-item {
    padding-bottom: 10px;
}

.rf-content {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.rf-padding {
    padding: 30px 35px 35px;
}

.rf-title {
    font-family: MISA Font Bold;
    font-size: 26px;
    text-align: center;
    padding-bottom: 5px;
}

.field-wrapper {
    padding: 8px;
}

.field-wrapper input {
    height: 42px;
    padding: 0 8px;
    width: 100%;
    border: 1px solid #cbd6e2;
    border-radius: 6px;
    color: #454545;
    outline: none;
}

.field-wrapper > * {
    width: 100%;
    font-size: 16px !important;
}

.field-wrapper select {
    height: 42px;
    padding: 0 8px;
    width: 100%;
    border: 1px solid #cbd6e2;
    border-radius: 6px;
    color: #454545;
    outline: none;
    font-size: 16px;
}

.field-wrapper .form-select {
    background-position-x: calc(100% - 12px);
    background-position-y: 12px;
    appearance: none;
    background-image: url('../../img/IconDown.svg');
    background-repeat: no-repeat;
}

.submit-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit-form {
    border-radius: 5px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    background: #2680eb;
    margin-top: 15px;
    min-height: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
}