.benefit-item {
    padding-top: 60px;
}

.bei-title {
    font-family: MISA Font Bold;
    font-size: 28px;
    color: #245ba3;
    text-align: center;
    padding-bottom: 30px;
}

.benefit-item .bei-content ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin-left: -20px;
    margin-right: -20px;
}

.bei-content ul li {
    width: 33.333%;
    padding: 0 20px;
}

.bei-top-content {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.bei-icon-item {
    width: 100px;
}

.bei-text-item {
    width: calc(100% - 100px);
    padding-left: 15px;
}

.bei-text-top {
    display: flex;
    padding-bottom: 5px;
}

.bei-tt-text {
    font-family: MISA Font Bold;
    font-size: 28px;
    line-height: 32px;
    color: #707070;
    padding-left: 5px;
}

.bei-text-bottom {
    font-size: 20px;
    color: #707070;
    padding-left: 5px;
}

.bei-row {
    display: flex;
    align-items: start;
    text-align: justify;
    padding-bottom: 10px;
}

.bei-row img {
    margin: 2px 10px 0 0;
}

.btn-trial-register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.btn-trial-register a {
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 400;
    background-color: #2680eb;
    margin-top: 15px;
    color: #fff;
}