.customer {
    padding-top: 60px;
}

.c-title {
    font-family: MISA Font Bold;
    font-size: 28px;
    color: #245ba3;
    text-align: center;
    padding-bottom: 30px;
}

.c-title span {
    font-size: 36px;
}

.c-group:last-child {
    padding-bottom: 0;
}

.c-group {
    padding-bottom: 25px;
    margin: 0 -15px;
}

.cg-item {
    padding: 15px 15px 0;
    height: 100%;
    max-width: 120px;
}

.cg-item img {
    border: solid 1px #245ba3;
}
