.product-item {
    padding-top: 40px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.pi-row {
    background: #fdfdfd;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    transition: all .05s .05s linear;
}

.pi-name {
    font-family: MISA Font Bold;
    font-size: 24px;
    padding-bottom: 5px;
}

.pi-description {
    padding-bottom: 20px;
}

.pi-information {
    padding: 20px;
    overflow: hidden;
    transition: all .05s .05s linear;
    height: 250px;
    color: #fff;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
}

.pi-button {
    display: flex;
    margin-top: auto;
}

.pi-button a {
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 20px;
    color: #393a3d;
    text-align: center;
}

.pi-row:nth-child(1) .pi-information {
    background: url(../../img/bg_product-group-1.svg) right center no-repeat;
    background-size: cover;
}

.pi-row:nth-child(2) .pi-information {
    background: url(../../img/bg_product-group-4.svg) right center no-repeat;
    background-size: cover;
}

.pi-row:nth-child(3) .pi-information {
    background: url(../../img/bg_product-group-2.svg) right center no-repeat;
    background-size: cover;
}

.pi-row:nth-child(4) .pi-information {
    background: url(../../img/bg_product-group-3.svg) right center no-repeat;
    background-size: cover;
}

.pi-row:nth-child(5) .pi-information {
    background: #a27cfd;
}

.pi-list ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}

.pi-list ul li {
    width: 50%;
    padding: 15px;
    margin: 0;
    list-style-type: none;
}

.pil-item {
    display: flex;
}

.pil-image {
    width: 40px;
    padding-top: 3px;
}

.pil-text {
    width: calc(100% - 40px);
    padding-left: 15px;       
}

.pil-name {
    font-family: MISA Font Bold;
    font-size: 18px;
    color: #393a3d;
}

.pil-des {
    font-size: 14px;
    color: #737373;
}

.view-more {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.view-more a {
    display: flex;
    align-items: start;
    font-family: MISA Font Medium;
    color: #2680eb;
}

.view-more a img {
    margin: 5px 0 0 5px;
}

a:hover {
    opacity: .85;
}