.reason-item {
    padding-top: 60px;
}

.ri-title {
    font-family: MISA Font Bold;
    font-size: 28px;
    color: #245ba3;
    text-align: center;
    padding-bottom: 30px;
}


.ri-region:nth-child(4) {
    padding-bottom: 0;
}


.ri-region {
    padding-bottom: 30px;
}

.region-img img {
    display: block;
    margin: 0 auto;
}

.ri-name {
    font-family: MISA Font Bold;
    font-size: 24px;
    color: #3e3e3e;
    padding-bottom: 10px;
}

.horizontal-line {
    background: #2680eb;
    width: 100px;
    height: 3px;
    border-radius: 1.5px;
}

.ri-description {
    padding-top: 15px;
}

.ri-row:last-child {
    padding-bottom: 0;
}

.ri-row {
    color: #393a3d;
    padding-bottom: 10px;
    text-align: justify;
}

.register-ai {
    background: url(../../img/bg_register.svg) no-repeat center;
    background-size: cover;
    margin-top: 105px;
    padding: 60px 0;
}