.experience-item {
    padding-top: 60px;
}

.ei-title-item {
    font-family: MISA Font Bold;
    font-size: 28px;
    color: #245ba3;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.ei-video-item {
    display: flex;
    justify-content: center;
}

.play-video-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ei-image-item {
    position: relative;
    border-radius: 10px;
}

.ei-image-item img {
    border-radius: inherit;
    transition: 0.2s;
}

.play-video-item:hover .ei-image-item img {
    opacity:.85;
}

.play-video-item:hover .ei-icon-item,
.play-video-item:hover .ei-icon-item img {
    width: 70px;
    height: 70px;
}

.ei-icon-item {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 1px 5px 1px #ddd;
    display: flex;
}

.scale-icon {
    width: 70px;
    height: 70px;
}

.popup-video {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
}

.popup-video .pv-content {
    position: absolute;
    width: 90%;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.pv-content .pv-border {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

.pv-close {
    background: url(../../img/ic_close.png) top right no-repeat;
    background-size: 28px;
    height: 28px;
    width: 28px;
    display: block;
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
    z-index: 2;
}