@import url(./layout/header.css);
@import url(./layout/content.css);
@import url(./layout/footer.css);
@import url(./base/icon.css);
@import url(./base/banner.css);
@import url(./base/menupanel.css);
@import url(./base/video.css);
@import url(./base/listproducts.css);
@import url(./base/benefit.css);
@import url(./base/reason.css);
@import url(./base/customer.css);
@import url(./base/prize.css);
@import url(./base/comment.css);
@import url(./base/news.css);
@import url(./base/register.css);
@import url(./base/display.css);
@import url(../../assets/font/fontawesome-5.15.1/css/all.css);
@import url(../../assets/font/fontawesome-5.15.1/css/all.min.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MISA Fonts;
    src: url(../../assets/font/GoogleSans-Regular.ttf);
}

@font-face {
    font-family: MISA Font Bold;
    src: url(../../assets/font/GoogleSans-Bold.ttf);
}

@font-face {
    font-family: MISA Font Italic;
    src: url(../../assets/font/GoogleSans-Italic.otf);
}

@font-face {
    font-family: MISA Font Medium;
    src: url(../../assets/font/GoogleSans-Medium.ttf);
}


body {
    font-family: MISA Fonts, Arial, sans-serif;
    font-size: 16px;
}

#main {
    width: 100%;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}