#footer {
    position: relative;
    background-color: #f3f3f2;
    padding-top: 50px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
}

.footer-img img {
    max-width: 100%;
    min-width: unset;
    box-shadow: rgb(149 157 165 / 63%) 0 8px 24px;
    background-color: #fff;
    margin: 0;
    padding: 7px;
    border-radius: 7px;
}

#footer .col-md-12 {
    height: 100%;
}

#footer h4 {
    color: #333;
    font-size: 16px;
    font-family: MISA Font Bold;
    margin: 23px 0;
}

.adr-title {
    color: #666;
    font-weight: 700;
}

.adr-content {
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    margin-bottom: 45px;
}

.footer-links li.change-al {
    margin-bottom: -7px;
}

.footer-links li {
    margin-bottom: 5px;
    line-height: 1.3;

}

#footer .footer-links li a {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.footer-links li a:hover {
    text-decoration: underline;
}

.footer-links img {
    margin-left: -7px;
    height: 38px;
    vertical-align: middle;
}

.change-dropdown {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    position: relative;
}

#footer .menu-wrap-full {
    position: relative;
    width: 100%;
    z-index: 101;
    left: 0;
    transition: top .3s;
    height: auto;
}

.menu-wrap-full .option-product {
    min-width: 176px;
    margin-top: -10px;
    color: #666;
    font-weight: 700;
    border: 0;
    padding: 6px 8px;
    background: #ebebeb;
}

.menu-wrap-full .option-product {
    max-width: 180px;
}

.option-product option {
    font-size: 13px;
}

.col-sm-2.footer-col-2 {
    padding: 0 63px; 
}

.footer-col-3 {
    padding: 0 54px;
}

.col-md-3 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

#footer .website-member {
    justify-content: flex-end;
    width: 436px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 15px;
}

.website-member .btn {
    background: #EBEBEB;
    color: #666666;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.dashicons {
    padding-left: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    max-height: 223px;
    overflow-y: auto;
    top: -223px;
    right: 0;
    left: unset;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

#footer .dropdown-menu li {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    margin-left: unset;
}

.dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    line-height: 1.42857143;
    color: #333;
}

hr {
    opacity: 0.25;
    background: #333;
    margin-bottom: 10px;
}

.footer-legal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.fl-region {
    margin-bottom: 20px;
}

.fl-region a {
    color: #555;
    font-size: 11px;
}

.fl-region img {
    width: 45px;
    margin: 0 7px 0 8px;
    vertical-align: middle;
}

.fl-region .f-industry-ministry-img {
    width: 120px;
}

.footer-legal .copyright {
    margin-right: 60px;
}

.footer-legal p {
    color: #888;
    font-size: 11px;
    margin: 16px 0;
}

.copyright a {
    color: #337ab7;
}

